.row {
  display: block;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
}

.spinner {
  position: absolute;
  left: 0;
  right: 0;
  top: -170px;

  margin: 0 auto;
}
